<div class="card" align="center">

    <img class="img1" src="./../../assets/images/images.png">

    <div class="mainBox">

        <div align="left">


            <label>Username or Email Address</label>
            <input type="text" name="userNameBox" class="inputBox">
            <label>Password</label>
            <input type="password" name="passwordBox" class="inputBox">
        </div>
        <div align="left">
            <input type="checkbox" name="checkBox" />
            <label>Remember Me</label>
            <input type="button" class="button" value="Log In">
        </div>

    </div>
    <div class="footerContent">
        <p>Lost Your Password?</p>
        
        <p>&#8592;Back to wishup blog</p>
    </div>



</div>